<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ARME.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ARME.Properties.Settings>
            <setting name="stringDir" serializeAs="String">
                <value />
            </setting>
            <setting name="saveDir" serializeAs="String">
                <value />
            </setting>
            <setting name="exportDir" serializeAs="String">
                <value />
            </setting>
            <setting name="dataDir" serializeAs="String">
                <value />
            </setting>
        </ARME.Properties.Settings>
    </userSettings>
</configuration>